prototypes
resources
**/bin/Debug/
**/bin/Release/
**/bin/container/
**/bin/local/
**/obj/container/
**/obj/local/
**/obj/Debug/
**/obj/
**/Logs/
**/node_modules/
**/.vs
Sentinel.Web/Sentinel.elk.Logstash/data/cars.csv
Sentinel.Web/docker-compose-debug-linux_secrets.yml
Sentinel.Web/Sentinel.UI.HealthMonitoring.rar
