prototypes
resources
**/bin/Debug/
**/bin/Release/
**/bin/container/
**/bin/local/
**/obj/container/
**/obj/local/
**/obj/Debug/
**/obj/
**/Logs/
**/node_modules/
Sentinel.Web/Sentinel.elk.Logstash/data/cars.csv
