<!-- <div class="row">
  <div class="col-md-3">
    <div class="card card-body card-widget bg-deep-purple card-inverse">
      <a href="javascript:;">
        <img src="assets/images/avatar.jpg" class="avatar-sm rounded-circle" alt="">
      </a>
      <div class="pl-3 pr-3">
        <p class="ff-headers mb-0 text-uppercase">Samuel <strong>Perkins</strong></p>
        <small class="d-block">San Francisco, CA</small>
        <small class="d-block">UX Developer</small>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body card-widget bg-brown card-inverse">
      <div class="mr-auto">
        <h3 class="fw-300 mb-0">14°C</h3>
        <small>San Francisco, CA</small>
      </div>
      <div class="d-block">
        <div class="icon icon-weather-wind-sun h1 mb-0"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body card-widget bg-yellow card-inverse text-center">
      <div class="d-block" style="width: 100%;">
        <h3 class="fw-300 mb-0">14°C</h3>
        <small>San Francisco, CA</small>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body card-widget no-bg">
      <div class="mr-auto">
        <h3 class="fw-300 mb-0">14°C</h3>
        <small>San Francisco, CA</small>
      </div>
      <div class="block">
        <div class="icon icon-weather-wind-sun h1 mb-0"></div>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="configdata">
  <h1>Environments</h1>
  <div *ngFor="let item of configdata | keyvalue">
    <h2>{{item.key}}</h2>
    <!-- Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b> -->
    <div class="row">
      <div class="col-md-3" *ngFor="let itemdeep of item.value | keyvalue">

        <div class="card card-body card-widget bg-deep-purple card-inverse">
          <div class="icon icon-weather-wind-sun h1 mb-0"></div>
          <div class="pl-3 pr-3">
            <p class="ff-headers mb-0 text-uppercase"> <strong>
                <a href="#/checks/{{item.key}}/{{itemdeep.key}}">
                  {{itemdeep.key}}
                </a>
              </strong></p>
          </div>
        </div>
        <!-- <pre>    Key: <b>{{itemdeep.key}}</b> and Value: <b>{{itemdeep.value}}</b></pre> -->
      </div>
    </div>
  </div>
</div>
