<!-- <app-storage name="app" [(ngModel)]="sliderValue"></app-storage> -->
<app-storage name="settings.product" type="local" [(ngModel)]="settings" (ngModelChange)="onCacheChange($event)"></app-storage>
<hr>
{{settings | json}}

<div class="taskboard" *ngIf="settings">
  <div class="taskboard-wrapper" style="width:450px">
    <div class="taskboard-list">
      <h6 class="taskboard-header">Selected Columns</h6>
      <div class="taskboard-cards" [dragula]="MANY_ITEMS" [(dragulaModel)]='settings.selectedColumns'>
        <div class="taskboard-task" *ngFor='let item of settings.selectedColumns'>

          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" disabled="true" [ngModel]="item.name">
          </div>
          <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" [name]="item.prop+'title'" [(ngModel)]="item.prop">
          </div>
          <div class="form-group">
            <label>flexGrow</label>
            <input type="number" class="form-control" [name]="item.prop+'flexGrow'" [(ngModel)]="item.flexGrow">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [name]="item.prop+'sortable'" id="" [checked]="item.sortable"
                (change)="item.sortable = !item.sortable">
              Sortable
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">available Columns</h6>
      <div class="taskboard-cards" [dragula]="MANY_ITEMS" [(dragulaModel)]='settings.availableColumns'>
        <div class="taskboard-task" *ngFor='let item of settings.availableColumns'>
          <div class="taskboard-task-title" [innerHtml]='item.name'></div>
        </div>
      </div>
    </div>
  </div>
</div>
