<app-storage name="settings.product" type="local" [(ngModel)]="settings"></app-storage>
<!-- <app-storage name="filters.product" save="true" type="local" [(ngModel)]="filters"></app-storage> -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div style="width: 100%">
          <div class="d-flex flex-row">
            <div class="d-block d-sm-none d-md-none d-lg-none d-xl-none" style="flex:2 0px">
              <input class="form-control" style="height: 46px" type="search" value="" placeholder="Search" id="example-search-input">
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="d-none d-sx-none d-sm-none d-md-block">
              <select class="form-control" style="height: 46px" name="vendorname" [(ngModel)]="filters.vendorId">
                <option value="">All</option>
                <option value="1">Microsoft</option>
                <option value="2">Cisco</option>
              </select>
            </div>
            <div class="d-none d-sx-none d-sm-block d-md-block" style="flex:2 0px">
              <input class="form-control" style="height: 46px" type="search" [(ngModel)]="filters.name" placeholder="Search"
                id="search-input">
            </div>
            <div class="d-flex">
              <div class="float-right">

                <!-- <select class="form-control" style="height: 46px" name="paging" [(ngModel)]="paging">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                </select> -->
                <button class="btn btn-secondary" [ngClass]="{'active': pageView =='table'}" (click)="pageView='table'">
                  <i class="fa fa-table fa-2x"></i>
                </button>
                <button class="btn btn-secondary" [ngClass]="{'active': pageView =='list'}" (click)="pageView='list'">
                  <i class="fa fa-th-list fa-2x"></i>
                </button>
                <button class="btn btn-secondary" [ngClass]="{'active': pageView =='grid'}" (click)="pageView='grid'"
                  style="margin-right: 20px">
                  <i class="fa fa-address-card-o fa-2x"></i>
                </button>
                <button class="btn btn-primary" (click)="newproduct()">
                  <i class="fa fa-plus fa-2x"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="settings">
        <div *ngIf="pageView =='table'">
          <div>
            <ngx-datatable class="material" [rows]="rows| ng4Filter:filters" [loadingIndicator]="loadingIndicator"
              [columnMode]="'flex'" [columns]="settings.selectedColumns" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [reorderable]="reorderable">
            </ngx-datatable>

            <!-- [limit]="'10'" [selected]="selectedItem"
            [selectionType]="'single'" -->

            <!-- <ngx-datatable class="material" [rows]="rows | ng4Filter:filters" [columns]="settings.selectedColumns"
              [headerHeight]="50" [footerHeight]="50">
            </ngx-datatable> -->



            <ngx-datatable class="material" [rows]="rows | ng4Filter:filters" [loadingIndicator]="loadingIndicator"
              [columns]="settings.selectedColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [reorderable]="reorderable"> </ngx-datatable>
          </div>

        </div>
        <div *ngIf="pageView =='list'">
          list
        </div>
        <div *ngIf="pageView =='grid'">
          grid
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <hr>
settings
<input [(ngModel)]="settings" type="text">
{{settings | json}} -->
