<div class="container-fluid">
  <div class="row flex-row flex-nowrap">
    <div *ngFor="let report of reportSet" class="col-sm-6 col-md-3">
      <div *ngIf="report.results" class="card card-primary card-inverse">
        <div class="card-header card-widget" [ngClass]="{'bg-green':report.status === 'Healthy','bg-red':report.status === 'Unhealthy','bg-yellow':report.status === 'Degraded'}">
          <div *ngIf="report.status === 'Loading'">
            <span class="fa fa-refresh fa-spin fa-3x fa-fw"></span>
            <span class="sr-only">Loading...</span>
          </div>
          <div class="block">
            <h5 class="mb-0"><strong>{{report.servicename}}</strong></h5>
            <p></p>
          </div>
        </div>
      </div>
      <div *ngFor="let result of report.results">
        <div *ngIf="result &&  result.data && result.data.type==='UserNotAuthenticated'">
          <h1>UserNotAuthenticated</h1>
          <!-- <app-is-alive-request-failed-check [healthCheckResult]="result"></app-is-alive-request-failed-check> -->
        </div>
        <div *ngIf="result &&  result.data &&result.data.type==='AddMaxValueCheck'">
          <app-add-max-value-check [healthCheckResult]="result"></app-add-max-value-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='AddMinValueCheck'">
          <app-add-min-value-check [healthCheckResult]="result"></app-add-min-value-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='DbConnection'">
          <app-db-connection-health-checks [healthCheckResult]="result"></app-db-connection-health-checks>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='DIHealthCheck'">
          <app-di-health-check [healthCheckResult]="result"></app-di-health-check>
        </div>
        <div *ngIf="result &&  result.data && result.type==='MongoHealthCheck'">
          <app-mongo-health-check [healthCheckResult]="result"></app-mongo-health-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='PerformanceCounter'">
          <app-performance-counter-list [healthCheckResult]="result"></app-performance-counter-list>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='ProcessListHealthChecks'">
          <app-process-list-health-checks [healthCheckResult]="result"></app-process-list-health-checks>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='RabbitMQHealthCheck'">
          <app-rabbit-mq-health-check [healthCheckResult]="result"></app-rabbit-mq-health-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='RabbitMQHealthCheckFromBus'">
          <app-rabbit-mq-health-check [healthCheckResult]="result"></app-rabbit-mq-health-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='RedisHealthCheck'">
          <app-redis-health-check [healthCheckResult]="result"></app-redis-health-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='ServiceClientBaseHealthCheck'">
          <app-service-client-base-health-check [healthCheckResult]="result"></app-service-client-base-health-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='SystemInfoHealthChecks'">
          <app-system-info-health-checks [healthCheckResult]="result"></app-system-info-health-checks>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='IsAliveRequestFailed'">
          <app-is-alive-request-failed-check [healthCheckResult]="result"></app-is-alive-request-failed-check>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='ServiceBusHealthCheck'">
          <app-service-bus-health-checks [healthCheckResult]="result"></app-service-bus-health-checks>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='EventHubHealthCheck'">
          <app-event-hub-health-checks [healthCheckResult]="result"></app-event-hub-health-checks>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='SqlHealthCheck'">
          <app-sql-health-checks [healthCheckResult]="result"></app-sql-health-checks>
        </div>
        <div *ngIf="result &&  result.data && result.data.type==='NetworkHealthCheckHealthCheck'">
          <app-network-health-checks [healthCheckResult]="result"></app-network-health-checks>
        </div>
      </div>
    </div>
  </div>
</div>
