<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
  </config>
    <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
    <disabledPackageSources>
        <add key="Framework.L22D" value="true" />
    </disabledPackageSources>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Api.Framework" value="https://mmercan.pkgs.visualstudio.com/_packaging/Api.Framework/nuget/v3/index.json" />
    <add key="framework" value="https://mmercan.pkgs.visualstudio.com/_packaging/c/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Api.Framework>
      <add key="Username" value="mmercan" />
      <add key="ClearTextPassword" value="__pass__" />
    </Api.Framework>
    <framework>
      <add key="Username" value="mmercan" />
      <add key="ClearTextPassword" value="__pass__" />
    </framework>
  </packageSourceCredentials>
</configuration>