<div *ngIf="healthCheckResult" class="card card-primary card-inverse">
  <div style="text-transform:inherit" class="card-header card-widget"
    [ngClass]="{'bg-green':healthCheckResult.status === 'Healthy','bg-red':healthCheckResult.status === 'Unhealthy','bg-yellow':healthCheckResult.status === 'Degraded'}">
    <div style="cursor:pointer; top:7px" (click)="isCollapsed=!isCollapsed" class="widget-bg-icon icon icon-arrows-circle-up">
    </div>
    <div class="block">
      <h5 class="mb-0"><strong>Process List</strong></h5>
      <p *ngIf="healthCheckResult.data['Total Memory']">{{healthCheckResult.data['Total Memory']  | number}} Bytes</p>
    </div>
  </div>
  <div class="card-body" [ngbCollapse]="isCollapsed">
    <dl>
      <dt>Duration</dt>
      <dd>{{healthCheckResult.duration}}</dd>
    </dl>
    <dl *ngFor="let data of healthCheckResult.data | keyvalue">
      <dd *ngIf="data.key !='type' && data.key !='Total Memory' "><strong>{{data.key}}</strong> {{data.value | number}} Bytes</dd>
    </dl>
  </div>
</div>
