programname {{programname}}
<br />
envname {{envname}}
<br />

<div>


  <div class="row">
    <div *ngIf="report.results" class="col-sm-6 col-md-3">
      <div class="card card-primary card-inverse">
        <div class="card-header card-widget"
          [ngClass]="{'bg-green':report.status === 'Healthy','bg-red':report.status === 'Unhealthy','bg-yellow':report.status === 'Degraded'}">
          <!-- <div style="cursor:pointer; top:7px" class="widget-bg-icon icon icon-arrows-circle-up"> </div> -->
          <div class="block">
            <h5 class="mb-0"><strong>{{report.servicename}}</strong></h5>
            <p></p>
          </div>
        </div>
        <!-- <div class="card-body">
        </div> -->
      </div>
      <div *ngFor="let result of report.results">
        <div *ngIf="result &&  result.type && result.type==='AddMaxValueCheck'">
          <app-add-max-value-check [healthCheckResult]="result"></app-add-max-value-check>
        </div>
        <div *ngIf="result &&  result.type && result.type==='AddMinValueCheck'">
          <app-add-min-value-check [healthCheckResult]="result"></app-add-min-value-check>
        </div>
        <div *ngIf="result &&  result.type && result.type==='DbConnection'">
          <app-db-connection-health-checks [healthCheckResult]="result"></app-db-connection-health-checks>
        </div>
        <div *ngIf="result &&  result.type && result.type==='DIHealthCheck'">
          <app-di-health-check [healthCheckResult]="result"></app-di-health-check>
        </div>
        <div *ngIf="result &&  result.type && result.type==='MongoHealthCheck'">
          <app-mongo-health-check [healthCheckResult]="result"></app-mongo-health-check>
        </div>
        <div *ngIf="result &&  result.type && result.type==='PerformanceCounter'">
          <app-performance-counter-list [healthCheckResult]="result"></app-performance-counter-list>
        </div>
        <div *ngIf="result &&  result.type && result.type==='ProcessListHealthChecks'">
          <app-process-list-health-checks [healthCheckResult]="result"></app-process-list-health-checks>
        </div>
        <div *ngIf="result &&  result.type && result.type==='RabbitMQHealthCheck'">
          <app-rabbit-mq-health-check [healthCheckResult]="result"></app-rabbit-mq-health-check>
        </div>
        <div *ngIf="result &&  result.type && result.type==='ServiceClientBaseHealthCheck'">
          <app-service-client-base-health-check [healthCheckResult]="result"></app-service-client-base-health-check>
        </div>
        <div *ngIf="result &&  result.type && result.type==='SystemInfoHealthChecks'">
          <app-system-info-health-checks [healthCheckResult]="result"></app-system-info-health-checks>
        </div>
      </div>
    </div>
  </div>
</div>
