  <div *ngIf="healthCheckResult" class="card card-primary card-inverse">
    <div style="text-transform:inherit" class="card-header card-widget"
      [ngClass]="{'bg-green':healthCheckResult.status === 'Healthy','bg-red':healthCheckResult.status === 'Unhealthy','bg-yellow':healthCheckResult.status === 'Degraded'}">
      <div style="cursor:pointer; top:7px" (click)="isCollapsed=!isCollapsed" class="widget-bg-icon icon icon-arrows-circle-up">
      </div>
      <div class="block">
        <h5 class="mb-0"><strong>Max</strong> {{healthCheckResult.name}}</h5>
        <p> {{healthCheckResult.data.current | number}}</p>
      </div>
    </div>
    <div class="card-body" [ngbCollapse]="isCollapsed">
      <dl>
        <dt>Duration</dt>
        <dd>{{healthCheckResult.duration}}</dd>
        <dt>Name</dt>
        <dd>{{healthCheckResult.name}}</dd>
        <dt>Max</dt>
        <dd>{{healthCheckResult.data.max | number}}</dd>
        <dt>Current</dt>
        <dd>{{healthCheckResult.data.current  | number}}</dd>
      </dl>
      <p>
        {{healthCheckResult | json}}
      </p>
    </div>
  </div>
  <!-- <div *ngIf="!healthCheckResult">healthCheckResult Not Found</div> -->
